.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(156, 91, 91, 0.5)), url('../../assets/pexels-thirdman-5400221.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: #fff;
    border: none;
}
.registerInput:focus{
    outline: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}