.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(156, 91, 91, 0.5)), url('../../assets/pexels-thirdman-5400221.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: #fff;
    border: none;
}
.loginInput:focus{
    outline: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}