.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarItem{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    width: 80%;
    padding: 5px;
    margin: 10px;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
}
.sidebarItem > img{
    width: 80%;
    margin-top: 15px;
}
.sidebarItem >  p{
    padding: 30px;
}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    text-transform: capitalize;
}
.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}